<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Result</title>
  </head>
  <body>
    <h1>Result</h1>

    <a href="/">Return to Calc</a>
    <h3>Torque: <%=torque%></h3>
    <h3>Altitude: <%=alt%></h3>
    <h3>Temperature: <%=deg%></h3>

    <h3>The max ITT is: <%=averageMaxITT%></h3>
  </body>
</html>
